In [13]:
import pandas as pd

# 데이터를 불러옵니다. 예시 데이터를 사용하겠습니다.

from google.colab import drive
file_path = '/content/drive/MyDrive/my_data.csv'
df = pd.read_csv(file_path)

# Unnamed: 0을 number로 이름을 변경합니다.
df.rename(columns={"Unnamed: 0": "number"}, inplace=True)

# number 로 표시되는 열을 지웁니다.
df.drop(['number'], axis = 1, inplace = True)

# index를 지웁니다.
df.reset_index(drop=True)

# "name" 컬럼의 영문 이름을 한글로 바꿉니다.
def convert_to_korean(name):
    name_mapping = {
        "Alice": "앨리스",
        "Bob": "밥",
        "Charlie": "찰리",
        "james": "제임스",
    }
    return name_mapping.get(name, name)  # 매핑이 없으면 그대로 반환합니다.

df["name"] = df["name"].apply(convert_to_korean)

# "salary" 컬럼의 숫자를 세자리 단위로 comma를 넣어서 값을 바꿉니다.
df["salary"] = df["salary"].apply(lambda x: format(x, ","))

# 결과를 확인합니다.
print(df)

# 결과를 csv 파일로 저장합니다.
df.to_csv("modified_data.csv", index=False, encoding='utf-8-sig')

  name  age   salary
0  앨리스   25   50,000
1    밥   30   60,000
2   찰리   35   70,000
3  제임스   30  400,000
4  앨리스   25   50,000
5    밥   30   60,000
6   찰리   35   70,000
7  제임스   30  400,000